@import url(nav.css);

html {
  scroll-padding-top: 120px;
}

.nopadding {
    padding: 0;
}

.content-wrap {
    padding-left: 15px;
    padding-right: 15px;
}

.keyvisual {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

a[href="#"]>* {
  outline: 1px dashed pink;
}
