/* -------------------------------------
navigation
------------------------------------- */
.shoptitle, .shoptitle a, .shoptitle a:visited {
  color: #333;
}

#navArea {
  height: 0;
}

.mobile-header {
  height: 70px;
  width: 100%;
  max-width: 100%;
  background: white;
  border: none;
  overflow: hidden;
  margin-bottom: 0;
}

.mobile-header .navbar-sns {
  font-size: 32px;
  padding-top: 14px;
}

.mobile-header .navbar-sns a {
  color: #222;
}

.navlinks {
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}

.navlinks a {
  line-height: 30px;
  color: #222;
}

.pc-header {
  height: 120px;
  width: 100%;
}

.pcheader-dummyspace {
  height: 120px;
}

.pc-header h1 {
  margin: 0;
}

.pc-header img {
  width: 100%;
  height: auto;
  max-width: 100px;
}

.pc-header-wrap {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

.pc-header .links {
  line-height: 60px;
}

.pc-header .links span {
  border-bottom: 6px solid #b28224;
}

.pc-header .links a {
  color: inherit;
}

.pc-header .links a:hover {
  text-decoration: none;
}

/* -------------------------------------
keyvisual sp
------------------------------------- */
.keyvisual-sp-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 280px;
  height: calc(100vh - 70px);
}

.keyvisual-sp-wrapper img {
  padding-top: 150px;
}

.keyvisual-sp-wrapper .scroll-arrow {
  padding-top: 0;
  position: absolute;
  width: 10%;
  height: auto;
  bottom: 32px;
  left: 0;
}

.keyvisual-sp-wrapper .copy {
  position: absolute;
  top: 300px;
  font-size: 32px;
  text-align: center;
  font-family: serif;
  font-weight: bold;
  width: 100%;
  color: black;
  text-shadow: 1px 1px 2px white;
}

/* -------------------------------------
keyvisual pc
------------------------------------- */
.keyvisual-pc-wrapper {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.keyvisual-pc-wrapper img {
  width: 100%;
}

.keyvisual-pc-wrapper .copy {
  position: absolute;
  top: 150px;
  right: -150px;
  color: white;
  font-size: 32px;
  text-shadow: 1px 1px 1px black;
  line-height: 1.8em;
  font-family: serif;
}

.searchbox input[type="text"] {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid lightgray;
  line-height: 40px;
  padding: 0;
  background-color: transparent;
}

.searchbox input[type="text"]::placeholder {
  letter-spacing: 3px;
  color: gray;
  text-align: right;
}

.searchbox input[type="submit"] {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid lightgray;
  line-height: 40px;
  padding: 0 10px;
  background-color: transparent;
  color: gray;
}

.sns-pc {
  width: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.sns-pc i {
  color: black;
  font-size: 26px;
}

nav {
  display: block;
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  width: 300px;
  background: rgba(255,255,255,.8);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: .5s;
  z-index: 1032;
}

#navArea nav {
  padding-top: 60px;
}

nav img {
  width: auto;
  height: 60px;
}

nav svg.i {
    margin-right: 18px;
    width: 27px;
    height: 18px;
}

nav svg.i {
  fill: #777;
}

.open nav {
  right: 0;
}

nav .inner {
  padding: 10px;
}

nav .sns-sp {
  text-align: center;
  font-size: 32px;
  margin-top: 1em;
}

nav .sns-sp i {
  color: #4e3c3c;
}

nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .inner ul li {
  position: relative;
  margin: 0;
}

nav .inner ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  line-height: 26px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}

nav .inner ul li i {
  margin-right: 1em;
  font-size: 18px;
  text-align: center;
  width: 1.5em;
  color: #777;
}

nav .inner ul li a:hover {
  background: #e4e4e4;
}

@media screen and (max-width: 767px) {
  nav {
    right: -240px;
    width: 240px;
  }
}

/*============
.navToggle
=============*/
.navToggle {
  display: block;
  position: fixed;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 50px;
  transform: translate(0, 0);
  transition: all .5s;
  cursor: pointer;
  z-index: 1032;
}

.navToggle span {
  display: block;
  position: absolute;
  left: 0;
  width: 40px;
  height: 6px;
  background-color: #666;
  transition: all .5s;
}

.navToggle span:nth-child(1) {
  top: 0;
  width: 40px;
}

.navToggle span:nth-child(2) {
  top: 15px;
  width: 40px;
}

.navToggle span:nth-child(3) {
  display: block;
  top: 30px;
  width: 40px;
  background-color: transparent;
  font-size: 10px;
  text-align: center;
  letter-spacing: 2px;
}

.open .navToggle span {
  width: 40px;
}

.open .navToggle span:nth-child(1) {
  transform: translate(0, 15px) rotate(-45deg);
}

.open .navToggle span:nth-child(2) {
  transform: translate(0, 0) rotate(45deg);
}

.open .navToggle span:nth-child(3) {
  display: none;
}

/*============
main
=============*/
main {
  padding: 50px;
}

main h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
}

/*============
body
=============*/
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
