* {
    /* outline: 1px dashed green; */
}

h2 {
  font-size: 26px;
}

@media (min-width: 768px) {
  h2 {
    font-weight: bold;
  }
}

#whats-niimo, #shopping-flow {
  margin: 60px auto;
}

/* -------------------------------------
fixed background image
------------------------------------- */
body {
  position: relative;
  width: 100%;
  z-index: 0;
}

body::before {
  content: '';
  display: block;
  position: fixed;
  /* 70px = header height */
  top: 70px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: calc(100vh - 70px);
  background: url(../img/sp/water.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}
@media (min-width: 768px) {
  body::before {
    top: 0;
    height: 100vh;
  }
}

/* -------------------------------------
.catchcopy
------------------------------------- */
.catchcopy h2 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 768px) {
  .catchcopy p {
    text-align: center;
  }
}

/* -------------------------------------
howto
------------------------------------- */
.howto li {
  line-height: 2em;
}

/* -------------------------------------
lineup
------------------------------------- */
.lineup .row>div {
  margin-bottom: 15px;
}

.lineup img {
  margin-bottom: 15px;
}

.lineup img+p {
  text-align: center;
  font-weight: bold;
}

.lineup a {
  color: inherit;
}

/* -------------------------------------
whats-niimo
------------------------------------- */
#whats-niimo {
  text-align: center;
}
@media (min-width: 768px) {
  #whats-niimo {
    text-align: left;
  }
  #whats-niimo h2 {
    text-align: center;
  }
}

#whats-niimo>* {
  margin: 15px auto;
}

#whats-niimo p {
  font-size: 16px;
  line-height: 28px;
}

/* -------------------------------------
category-unit
------------------------------------- */
.category-unit {
    margin-top: 2em;
}

.category-unit a {
    text-decoration: none;
    color: inherit;
}

.category-unit .title {
    font-size: 24px;
    margin-bottom: .5em;
}

.category-unit .title>i {
    font-size: 32px;
    margin-right: .3em;
    color: #6e7475;
}

.category-unit .card {
    padding: 15px;
}

.category-unit .card-inner {
    padding: 5px;
}

.card-title {
    font-weight: bold;
    color: #7f7f7f;
}

.card-text {
    font-size: 12px;
    color: #ccc;
}

/* -------------------------------------
corner-card
------------------------------------- */
.corner-card {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

/* -------------------------------------
about-stick
------------------------------------- */
.about-stick .container {
  margin-top: 60px;
  margin-bottom: 80px;
}

.about-stick p {
  margin-top: 30px;
  line-height: 1.8em;
  text-indent: 1em;
}

.about-stick li {
  line-height: 1.8em;
}

.about-stick span {
  padding: 10px;
  background-color: #b28224;
  font-size: 10px;
  color: white;
  letter-spacing: 2px;
}
