@charset "utf-8";

/* -------------------------------------
enable scroll
------------------------------------- */
html::-webkit-scrollbar {
  display: none;
}

body {
  overflow-y: scroll;
  padding-bottom: 71px;
}

/* -------------------------------------
style in iframe
------------------------------------- */
.main-content {
  padding: 15px;
}

h3 {
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid dimgray;
  margin-top: 20px;
}

h3+ul {
  list-style: none;
  line-height: 32px;
  padding-left: 12px;
  font-size: 14px;
}

h3+ul li {
  border-bottom: 1px solid dimgray;
}

h3+ul a {
  color: inherit;
}

h3+ul a:hover {
  text-decoration: none;
}

h3+ul i {
  margin-right: 10px;
  color: indianred;
  width: 18px;
  text-align: center;
}
