@charset "utf-8";

.sp-navbar {
  position: absolute;
  height: 60px;
  top: 150px;
  left: 0;
  right: 0;
}

label.ham-btn {
  position: absolute;
  top: 160px;
  right: 10px;
}

#navcheck {
  display: none;
}
